* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header style */

.header-bg-image {
  background-color: #1d1c1c36;
  width: 1530px;
  height: 809px;
  background-repeat: no-repeat;
  background-image: url("./images/banner/banner2.png");
  display: flex;
  align-items: right;
}
.header-part {
  height: 500px;
  width: 550px;
  text-align: right;
  margin: 0 0 auto auto;
  padding: 200px;
}
.header-title {
  font-size: 55px;
  font-weight: 800;
}
.header-para {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #444343;
}
.header-part a {
  text-decoration: none;
}
.btn {
  margin-top: 32px;
  width: 160px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f15b22;
}

/* My failures section */

.failure-section {
  display: flex;
  padding: 180px;
}

.my-story {
  width: 416px;
  height: 500px;
  padding-top: 200px;
  margin-left: 87px;
}
.story-title {
  font-size: 40px;
  font-weight: 700;
}
.story-para {
  margin-top: 24px;
}
.story-list {
  margin-top: 16px;
  padding-left: -50px;
}
.story-list ul {
  margin-left: -40px;
}
.story-list ul li {
  list-style-type: none;
}
.check {
  width: 15px;
  margin-right: 10px;
  padding-top: 8px;
}

/* My Planes Style */

.my-plans-section {
  width: 1530px;
}
.plans-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.plans-div {
  display: flex;
  margin-top: 50px;
  margin-left: 170px;
}
.planes {
  margin-left: 70px;
  text-align: center;
}
.planes .planes-name {
  margin-top: 24px;
  font-weight: 700;
  font-size: 25px;
}
.planes .planes-para {
  font-size: 22px;
  font-weight: 500;
  color: #737272;
}

/* linear gradient image style */
.linear-section {
  padding: 120px 230px;
}
.linear-image {
  background-image: linear-gradient(
      to right,
      rgba(234, 200, 7, 0.691),
      rgba(0, 0, 0, 0.3)
    ),
    url("./images/watch.png");
  width: 570px;
  background-repeat: no-repeat;
  height: 300px;
  padding: 0 230px;
  color: white;
  border-radius: 10px;
}
.linear-details {
  width: 459px;
  height: 182px;
  margin-left: -160px;
}
.linear-para {
  padding-top: 60px;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  top: 0;
  bottom: auto;
}

/* Footer section style */

.footer {
  width: 1530px;
  height: 500px;
  background-color: #151414;
}
.footer-section {
  display: flex;
}
.contact-me {
  width: 485px;
  height: 180px;
  color: #f8f8f8;
  margin: 150px 230px;
}
.footer-title {
  font-weight: 700;
  font-size: 45px;
}
.footer-para,
.footer-email,
.footer-phone {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400px;
}
.footer-contact {
  margin-top: 24px;
}
.footer-icon {
  margin-top: 24px;
}
.footer-icon a {
  text-decoration: none;
  padding: 5px;
}
.subscribe-me {
  margin: 150px 0;
  width: 100%;
  width: 325px;
  height: 204px;
  color: #ffffff;
}
.subscribe-title {
  font-weight: 600;
  font-size: 25px;
}
input {
  margin-top: 20px;
  padding: 18px;
  color: #f8f8f8;
  background-color: #151414;
  border: 1px solid #ffffff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
}
::placeholder {
  color: rgb(253, 253, 253);
  opacity: 1;
}
.subscribe-btn {
  margin-top: 18px;
  width: 160px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #f15b22;
  background-color: #ffffff;
}
