* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header style */

.header {
  position: relative;
  background-color: #1d1c1c36;
  width: 1530px;
  height: 760px;
  background-image: url("./images/banner/banner2.png");
}
.header-part {
  position: relative;
  height: 500px;
  width: 550px;
  text-align: right;
  margin: 0 0 auto auto;
  padding: 200px;
}
.header-title {
  font-size: 55px;
  font-weight: 800;
}
.header-para {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #444343;
}
.header-part a {
  text-decoration: none;
}
.btn {
  margin-top: 32px;
  width: 160px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f15b22;
}

/* My failures section */

.failure {
  display: flex;
  padding: 180px;
  justify-content: space-between;
}

.my-story {
  width: 416px;
  height: 500px;
  padding-top: 200px;
}
.story-title {
  font-size: 40px;
  font-weight: 700;
}
.story-para {
  margin-top: 24px;
}
.story-list {
  margin-top: 16px;
  padding-left: -50px;
}
.story-list ul {
  margin-left: -40px;
}
.story-list ul li {
  list-style-type: none;
}
.check {
  width: 15px;
  margin-right: 10px;
  padding-top: 8px;
}
